<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
<link rel="shortcut icon" href="/js/favicon.ico"><link href="/js/../css/home-7352.css" rel="stylesheet"><link href="/js/../css/home-d029.css" rel="stylesheet"></head>
<body>
    <%- include('../partials/header.html') %>
    <div class="main" id="main">
    </div>
    <p>wangjie110-ahahahahah-8888888888888888</p>
    <div class="list-container">
        <% for (var i =0; i < list.length; i++) { %>
            <div>
                <p><%- list[i].name %></p>
                <p><%- list[i].text %></p>
                <img src="<%- list[i].profile_image %>">
            </div>
        <% } %>
    </div>
    <script src="/reload/reload.js"></script>
    <%- include('../partials/footer.html') %>
<script type="text/javascript" src="/js/vector.js"></script><script type="text/javascript" src="/js/home-caf7.js"></script><script type="text/javascript" src="/js/util-caf7.js"></script></body>
</html>