<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user</title>
<link rel="shortcut icon" href="/js/favicon.ico"></head>
<body>
    <%- include('../partials/header.html') %>
    <div class="main" id="main"></div>
    <%- include('../partials/footer.html') %>
<script type="text/javascript" src="/js/vector.js"></script><script type="text/javascript" src="/js/util-3614.js"></script></body>
</html>