<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>
    <%- include('../partials/header.html') %>
    <div class="main" id="main">
    </div>
    <p>q3433q4f3w4g3</p>
    <div class="list-container">
        <% for (var i =0; i < list.length; i++) { %>
            <div>
                <p><%- list[i].name %></p>
                <p><%- list[i].text %></p>
                <img src="<%- list[i].profile_image %>"/>
            </div>
        <% } %>
    </div>
    <%- include('../partials/footer.html') %>
</body>
</html>